
@{
    Layout = null;
}
    <html dir="ltr" lang="tr" style="font-size: 15px;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
        <link rel="preconnect" href="//abs.twimg.com">
        <link rel="preconnect" href="//api.twitter.com">
        <link rel="preconnect" href="//pbs.twimg.com">
        <link rel="preconnect" href="//t.co">
        <link rel="preconnect" href="//video.twimg.com">
        <link rel="dns-prefetch" href="//abs.twimg.com">
        <link rel="dns-prefetch" href="//api.twitter.com">
        <link rel="dns-prefetch" href="//pbs.twimg.com">
        <link rel="dns-prefetch" href="//t.co">
        <link rel="dns-prefetch" href="//video.twimg.com">
        <link rel="preload" as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/web/polyfills.6cc90b94.js" nonce="">
        <link rel="preload" as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/web/vendors~main.93a9dde4.js" nonce="">
        <link rel="preload" as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/web/i18n-rweb/tr.8e3617f4.js" nonce="">
        <link rel="preload" as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/web/i18n-horizon/tr.fde62d54.js" nonce="">
        <link rel="preload" as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/web/main.f5566c24.js" nonce="">
        <meta property="fb:app_id" content="2231777543">
        <meta property="og:site_name" content="Twitter">
        <meta name="google-site-verification" content="V0yIS0Ec_o3Ii9KThrCoMCkwTYMMJ_JYx_RSaGhFYvw">
        <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
        <link rel="alternate" hreflang="x-default" href="https://twitter.com/signup?lang=en">
        <link rel="alternate" hreflang="ar" href="https://twitter.com/signup?lang=ar">
        <link rel="alternate" hreflang="bg" href="https://twitter.com/signup?lang=bg">
        <link rel="alternate" hreflang="bn" href="https://twitter.com/signup?lang=bn">
        <link rel="alternate" hreflang="ca" href="https://twitter.com/signup?lang=ca">
        <link rel="alternate" hreflang="cs" href="https://twitter.com/signup?lang=cs">
        <link rel="alternate" hreflang="da" href="https://twitter.com/signup?lang=da">
        <link rel="alternate" hreflang="de" href="https://twitter.com/signup?lang=de">
        <link rel="alternate" hreflang="el" href="https://twitter.com/signup?lang=el">
        <link rel="alternate" hreflang="en" href="https://twitter.com/signup?lang=en">
        <link rel="alternate" hreflang="en-GB" href="https://twitter.com/signup?lang=en-GB">
        <link rel="alternate" hreflang="es" href="https://twitter.com/signup?lang=es">
        <link rel="alternate" hreflang="eu" href="https://twitter.com/signup?lang=eu">
        <link rel="alternate" hreflang="fa" href="https://twitter.com/signup?lang=fa">
        <link rel="alternate" hreflang="fi" href="https://twitter.com/signup?lang=fi">
        <link rel="alternate" hreflang="tl" href="https://twitter.com/signup?lang=tl">
        <link rel="alternate" hreflang="fr" href="https://twitter.com/signup?lang=fr">
        <link rel="alternate" hreflang="ga" href="https://twitter.com/signup?lang=ga">
        <link rel="alternate" hreflang="gl" href="https://twitter.com/signup?lang=gl">
        <link rel="alternate" hreflang="gu" href="https://twitter.com/signup?lang=gu">
        <link rel="alternate" hreflang="he" href="https://twitter.com/signup?lang=he">
        <link rel="alternate" hreflang="hi" href="https://twitter.com/signup?lang=hi">
        <link rel="alternate" hreflang="hr" href="https://twitter.com/signup?lang=hr">
        <link rel="alternate" hreflang="hu" href="https://twitter.com/signup?lang=hu">
        <link rel="alternate" hreflang="id" href="https://twitter.com/signup?lang=id">
        <link rel="alternate" hreflang="it" href="https://twitter.com/signup?lang=it">
        <link rel="alternate" hreflang="ja" href="https://twitter.com/signup?lang=ja">
        <link rel="alternate" hreflang="kn" href="https://twitter.com/signup?lang=kn">
        <link rel="alternate" hreflang="ko" href="https://twitter.com/signup?lang=ko">
        <link rel="alternate" hreflang="mr" href="https://twitter.com/signup?lang=mr">
        <link rel="alternate" hreflang="ms" href="https://twitter.com/signup?lang=ms">
        <link rel="alternate" hreflang="nb" href="https://twitter.com/signup?lang=nb">
        <link rel="alternate" hreflang="nl" href="https://twitter.com/signup?lang=nl">
        <link rel="alternate" hreflang="pl" href="https://twitter.com/signup?lang=pl">
        <link rel="alternate" hreflang="pt" href="https://twitter.com/signup?lang=pt">
        <link rel="alternate" hreflang="ro" href="https://twitter.com/signup?lang=ro">
        <link rel="alternate" hreflang="ru" href="https://twitter.com/signup?lang=ru">
        <link rel="alternate" hreflang="sk" href="https://twitter.com/signup?lang=sk">
        <link rel="alternate" hreflang="sr" href="https://twitter.com/signup?lang=sr">
        <link rel="alternate" hreflang="sv" href="https://twitter.com/signup?lang=sv">
        <link rel="alternate" hreflang="ta" href="https://twitter.com/signup?lang=ta">
        <link rel="alternate" hreflang="th" href="https://twitter.com/signup?lang=th">
        <link rel="alternate" hreflang="tr" href="https://twitter.com/signup?lang=tr">
        <link rel="alternate" hreflang="uk" href="https://twitter.com/signup?lang=uk">
        <link rel="alternate" hreflang="ur" href="https://twitter.com/signup?lang=ur">
        <link rel="alternate" hreflang="vi" href="https://twitter.com/signup?lang=vi">
        <link rel="alternate" hreflang="zh" href="https://twitter.com/signup?lang=zh">
        <link rel="alternate" hreflang="zh-Hant" href="https://twitter.com/signup?lang=zh-Hant">

        <link rel="mask-icon" sizes="any" href="https://abs.twimg.com/responsive-web/web/icon-svg.9e211f64.svg" color="#1da1f2">
        <link rel="shortcut icon" href="//abs.twimg.com/favicons/twitter.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="192x192" href="https://abs.twimg.com/responsive-web/web/icon-ios.8ea219d4.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Twitter">
        <meta name="apple-mobile-web-app-status-bar-style" content="white">
        <meta name="theme-color" content="#FFFFFF">
        <meta http-equiv="origin-trial" content="Ap6SMBNB0lQoXpXl4I9vyTJqJ7Y0X9tPd6Q6rN697iHdubQQxBcWHy21N3N7uEz7Ba5UKMbN+eLvDczBSbi27AsAAABfeyJvcmlnaW4iOiJodHRwczovL3R3aXR0ZXIuY29tOjQ0MyIsImZlYXR1cmUiOiJCYWRnaW5nIiwiZXhwaXJ5IjoxNTY0NTgyNzY2LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
        <meta http-equiv="origin-trial" content="Apir4chqTX+4eFxKD+ErQlKRB/VtZ/dvnLfd9Y9Nenl5r1xJcf81alryTHYQiuUlz9Q49MqGXqyaiSmqWzHUqQwAAABneyJvcmlnaW4iOiJodHRwczovL3R3aXR0ZXIuY29tOjQ0MyIsImZlYXR1cmUiOiJDb250YWN0c01hbmFnZXIiLCJleHBpcnkiOjE1NzUwMzUyODMsImlzU3ViZG9tYWluIjp0cnVlfQ==">
        <meta http-equiv="origin-trial" content="AleGS26SZL7UA8Fe1DbvXzoay74bPTvrfKKGimIu1RI8vA+RtXOSVlizUkz2zU/fQoFoOTgCiCciP6pM5teaeQgAAABjeyJvcmlnaW4iOiJodHRwczovL3R3aXR0ZXIuY29tOjQ0MyIsImZlYXR1cmUiOiJTbXNSZWNlaXZlciIsImV4cGlyeSI6MTU3OTAyMDkyMSwiaXNTdWJkb21haW4iOnRydWV9">

        <style>
            html, body {
                height: 100%;
            }

            body {
                -ms-overflow-style: scrollbar;
                overflow-y: scroll;
                overscroll-behavior-y: none;
                background-color: rgb(153,153,153);
            }
        </style>
        <style id="react-native-stylesheet">
            [stylesheet-group="0"] {
            }

            html {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }

            body {
                margin: 0;
            }

        </style>
        <style id="react-native-stylesheet">
            [stylesheet-group="0"] {
            }

            html {
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }

            body {
                margin: 0;
                height: 100vh;
            }

            #middle {
                background-color: white;
                width: 44%;
                height: 90vh;
                z-index: 10;
                margin-left: 28%;
                margin-top: 5vh;
                margin-bottom: 0;
                border-radius: 5%;
            }
            #top{
                width:100%;
                height:5%;
                margin-top:1%;
            }
            #bottom {
                width: 100%;
                height: 80%;
            }
            #bird {
                background-image:url("C:/Users/samet/source/repos/Twitter/wwwroot/tweet_bird.png");
                background-position:top;
                background-repeat: no-repeat;
                width: 10%;
                height: 100%;
                z-index:1000;
            }
            .input{
                width:80%;
                height:10%;
                margin:2%;
                margin-left:8%;
                background-color:white;
                padding:2%;
            }
            input{
                width:100%;
                height:100%;
                background-color:rgb(245,248,250);
                border:none;
                border-bottom:1px solid black;
                font-size: 16px;
                padding-left: 4%;
            }
            ::-webkit-input-placeholder{
                font-size:16px;
            }
           
            #kayıt{
                width:30%;
                height:70%;
                background-color:rgb(26,145,218);
                color:white;
                border:none;
                border-radius:10%;
                margin-left:35%;
                margin-top:5%;
            }
            h2{
                margin-left:10%;
            }
        </style>
    </head>

        <body>
            <div id="middle">
                <div id="top">
                    <div id="bird"></div>
                    
                </div>
                <div id="bottom">
                    <h2>Hesabını Oluştur</h2>

                    @using (Html.BeginForm("AddUser", "SignUp", FormMethod.Post)) {
                        <div class="input">
                            <input type="text" placeholder="İsim" name="isim" />
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Email" name="email"/>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Kullanıcı Adı" name="username"/>
                        </div>
                        <div class="input">
                            <input type="password" placeholder="Password" name="password"/>
                        </div>

                        <div class="input">
                            <button type="submit" id="kayıt">Kayıt Ol</button>
                        </div>

                    }
                </div>

            </div>
        </body>
    </html>